<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  

</head>
<body id="container-fluid" class="page">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CS50 Bootstrap Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/unit2">Unit 2</a></li>
      <li><a href="/unit3">Unit 3</a></li>
      <li><a href="/unit4">Unit 4</a></li>
      <li><a href="/pset">Problem Sets</a></li>
      <li><a href="/para">Parallax</a></li>
      <li><a href="/myself">Myself</a></li>
      <li><a href="https://www.google.ca/">Google</a></li>
      <li><a href="https://smcdsb.elearningontario.ca/d2l/le/lessons/18793458/units/147555099">Course Intro</a></li>
    </ul>
  </div>
</nav>
  
  
  
  
<div class="jumbotron text-center">
  <h1>CS50 Bootstrap Page</h1>
  <p>This page will include multiple labs from CS50.</p> 
</div>
  <div class="jumbotron text-center">
    <h1>Unit 1</h1>
    </div>

  
  
  
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">While Loop</h3>
      <p style="color:white">This code shows an example of a while loop in C</p>
      <script src="https://gist.github.com/brandontate24368/71a7f707384142fcc8691e5925165acf.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/whileloop/" target="_blank">Link to the While Loop file</a>
      
      
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">For Loops</h3>
      <p style="color:white">This code shows an example of a for loop in C</p>
      <script src="https://gist.github.com/brandontate24368/ecb4c62a851ab21cae7a6c622db6a38d.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/forloop/" target="_blank">Link to the For Loop file</a>
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Do While Loops</h3>        
      <p style="color:white">This code shows an example of a do while loop in C</p>
      <script src="https://gist.github.com/brandontate24368/4c9921ae7c7c1322129d94f5492ff206.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/dowhileloop/" target="_blank">Link to the Do While Loop file</a>
    </div>
  </div>
</div>
  
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Data Types</h3>
      <p style="color:white">This code shows certain data types in C</p>
      <script src="https://gist.github.com/brandontate24368/7af537b7087a1d2c14b3da8db88f194c.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/datatypes/" target="_blank">Link to the Data Types file</a>
      
      
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Syntax</h3>
      <p style="color:white">This code shows certain syntax in C</p>
      <script src="https://gist.github.com/brandontate24368/d755ddd11a9650319afd84639b16ec61.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/syntax/" target="_blank">Link to the Syntax file</a>
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Variables</h3>        
      <p style="color:white">This code shows how variables work in C</p>
      <script src="https://gist.github.com/brandontate24368/54d4389fcc19ab911566ba96e614933f.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/variables/">Link to the Variables file</a>
    </div>
  </div>
</div>
  
    <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">printf Placeholders</h3>
      <p style="color:white">This code shows placeholder values in C</p>
      <script src="https://gist.github.com/brandontate24368/f8a799702b9aaddfe45f3d74614e4f06.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/placeholders/" target="_blank">Link to the Placeholders file</a>
      
      
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Operators</h3>
      <p style="color:white">This code shows operators in C</p>
      <script src="https://gist.github.com/brandontate24368/ff7173b82c4616be1ab129e45ec792eb.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/operators/" target="_blank">Link to the Operators file</a>
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Booleans</h3>        
      <p style="color:white">This code shows how booleans work in C</p>
      <script src="https://gist.github.com/brandontate24368/2b6af63b061329cf04b8da331f015cfe.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/booleans/">Link to the Booleans file</a>
    </div>
  </div>
</div>

  <div class="container">
  <div class="row">
    <div class="col-sm-4; text-center">
      <h3 style="color:white;font-family:Trebuchet MS">printf Placeholders</h3>
      <p style="color:white">This code shows placeholder values in C</p>
      <div align="center">
      <script src="https://gist.github.com/brandontate24368/f8a799702b9aaddfe45f3d74614e4f06.js"></script>
      </div>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/placeholders/" target="_blank">Link to the Placeholders file</a>
      </div>
  </div>
</div>


</body>
</html>
