  
  <!DOCTYPE html>
<html lang="en">
<head>
  <style>
  p {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #F5FFFA;
}
    
  h5 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 40px "Lato", sans-serif;
  color: #FFF5EE;
  }
  
  
  </style>
  </head>
<body id="container-fluid" class="page">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CS50 Bootstrap Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/unit2">Unit 2</a></li>
      <li><a href="/unit3">Unit 3</a></li>
      <li><a href="/unit4">Unit 4</a></li>
      <li><a href="/pset">Problem Sets</a></li>
      <li><a href="/para">Parallax</a></li>
      <li class="active"><a href="#">Myself</a></li>
      <li><a href="https://www.google.ca/">Google</a></li>
      <li><a href="https://smcdsb.elearningontario.ca/d2l/le/lessons/18793458/units/147555099">Course Intro</a></li>
    </ul>
  </div>
</nav>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}
</style>
  
    <div class="card; text-center">
  <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" style="width:30%">
  <div class="container">
    <div style="color: #F5FFFA; font: Garamond">
      <h5>Brandon Tate</h5> 
    <p>Webpage Designer & Engineer</p> 
    <p>Soccer Player </p>
    <p>Grade 12 </p>
    <p>647-963-4994</p>
  </div>
</div>
  </div>
  </body>
</html>