<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body id="container-fluid" class="page">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CS50 Bootstrap Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/unit2">Unit 2</a></li>
      <li><a href="/unit3">Unit 3</a></li>
      <li><a href="/unit4">Unit 4</a></li>
      <li class="active"><a href="#">Problem Sets</a></li>
      <li><a href="/para">Parallax</a></li>
      <li><a href="/myself">Myself</a></li>
      <li><a href="https://www.google.ca/">Google</a></li>
      <li><a href="https://smcdsb.elearningontario.ca/d2l/le/lessons/18793458/units/147555099">Course Intro</a></li>
    </ul>
  </div>
</nav>
  
<div class="jumbotron text-center">
    <h1>Problem Sets</h1>
    </div>

  
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Mario</h3>
     <script src="https://gist.github.com/brandontate24368/07144eeedb245cb72f4fb22fb3f41dc6.js"></script>
      
      
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Caesar</h3>
      <script src="https://gist.github.com/brandontate24368/1f013b35f4087bfedf7acc1e41408f58.js"></script>
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Runoff</h3>        
      <script src="https://gist.github.com/brandontate24368/17de7dfec6831f8593e24c4cb8f85734.js"></script>
    </div>
  </div>
</div>
  
  <div class="container">
  <div class="row">
    <div class="col-sm-4; text-center">
      <h3 style="color:white;font-family:Trebuchet MS">Filter</h3>
      <div align="center">
      <script src="https://gist.github.com/brandontate24368/5a8f9c2af66f5a6619ae19759b109eff.js"></script>
      </div>
      </div>
  </div>
</div>


  
</body>
</html>
