<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body id="container-fluid" class="page">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CS50 Bootstrap Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/unit2">Unit 2</a></li>
      <li class="active"><a href="#">Unit 3</a></li>
      <li><a href="/unit4">Unit 4</a></li>
      <li><a href="/pset">Problem Sets</a></li>
      <li><a href="/para">Parallax</a></li>
      <li><a href="/myself">Myself</a></li>
      <li><a href="https://www.google.ca/">Google</a></li>
      <li><a href="https://smcdsb.elearningontario.ca/d2l/le/lessons/18793458/units/147555099">Course Intro</a></li>
    </ul>
  </div>
</nav>
  
  <div class="jumbotron text-center">
    <h1>Unit 3</h1>
    </div>

  
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Linear Search</h3>
      <p style="color:white">This code shows an example of how linear search works in C</p>
      <script src="https://gist.github.com/brandontate24368/c01af1270fc1326f6e85bbef9d5c2e7b.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/linearsearch/" target="_blank">Link to the Linear Search file</a>
      
      
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Bubble Sort</h3>
      <p style="color:white">This code shows an example of bubble sort in C</p>
      <script src="https://gist.github.com/brandontate24368/9a653101fd8f0d91b4dadef921fd110b.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/bubblesort/" target="_blank">Link to the Bubble Sort file</a>
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Selection Sort</h3>        
      <p style="color:white">This code shows an example of of selection sort in C</p>
      <script src="https://gist.github.com/brandontate24368/18b945bf659bf7aa7df58ce4542736ea.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/selectionsort/" target="_blank">Link to the Selection Sort file</a>
    </div>
  </div>
</div>
  
    <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Insertion Sort</h3>
      <p style="color:white">This code shows an example of how insertion sort works in C</p>
      <script src="https://gist.github.com/brandontate24368/73f193479d3fcd9217586418014ec769.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/insertionsort/" target="_blank">Link to the Insertion Sort file</a>
      
      
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Binary Search</h3>
      <p style="color:white">This code shows an example of binary search in C</p>
      <script src="https://gist.github.com/brandontate24368/1dc16bfc706d1ad65bd83ed9ae255e96.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/binarysearch/" target="_blank">Link to the Binary Search file</a>
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Models and Simulations</h3>        
      <p style="color:white">This code shows models and simulations in C</p>
      <script src="https://gist.github.com/brandontate24368/5582dd4bf0f22e3f8ec2521aa89d6cbd.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/simulations/" target="_blank">Link to the Models and Simulations file</a>
    </div>
  </div>
</div>

  
</body>
</html>