<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body id="container-fluid" class="page">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CS50 Bootstrap Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/unit2">Unit 2</a></li>
      <li><a href="/unit3">Unit 3</a></li>
      <li class="active"><a href="#">Unit 4</a></li>
      <li><a href="/pset">Problem Sets</a></li>
      <li><a href="/para">Parallax</a></li>
      <li><a href="/myself">Myself</a></li>
      <li><a href="https://www.google.ca/">Google</a></li>
      <li><a href="https://smcdsb.elearningontario.ca/d2l/le/lessons/18793458/units/147555099">Course Intro</a></li>
    </ul>
  </div>
</nav>
  
  <div class="jumbotron text-center">
    <h1>Unit 4</h1>
    </div>

  
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Structures and Encapsulations</h3>
      <p style="color:white">This code shows Structures and Encapsulations in C</p>
      <script src="https://gist.github.com/brandontate24368/ba89e99fac22e82439c82e65a4519767.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/structs/" target="_blank">Link to the Structures and Encapsulations file. Open this link to see the full breakdown.</a>
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Recursion</h3>
      <p style="color:white">This code shows an example of recursion in C</p>
      <script src="https://gist.github.com/brandontate24368/54b26cfc4223e9c2c2117728fcbfb3f2.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/recursion//" target="_blank">Link to the Recursion file</a>
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Merge Sort</h3>        
      <p style="color:white">This code shows an example of merge sort in C</p>
      <script src="https://gist.github.com/brandontate24368/c1f6dca0bdd9f7f85b6aef770fbe66bf.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/mergesort/" target="_blank">Link to the Merge Sort file</a>
    </div>
  </div>
</div>

  
    <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Hexadecimal</h3>
      <p style="color:white">This code shows an example of hexadecimal in C</p>
      <script src="https://gist.github.com/brandontate24368/0869bfbe3cc93491619283d7a65a5da9.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/hexadecimal/" target="_blank">Link to the hexadecimal file</a>
      </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">File Input/Output</h3>
      <p style="color:white">This code shows an example of input/output in C</p>
      <script src="https://gist.github.com/brandontate24368/ecb4c62a851ab21cae7a6c622db6a38d.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/fileio/" target="_blank">Link to the Input/Output file</a>
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Images</h3>        
      <p style="color:white">This code shows an example of images in C</p>
      <script src="https://gist.github.com/brandontate24368/ec12b73e8c536598c60562983497bf80.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/images/" target="_blank">Link to the Images file. Open this link to see the full breakdown.</a>
    </div>
  </div>
</div>

  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Pointers and Memory Allocation</h3>
      <p style="color:white">This code shows pointers and memory allocation in C</p>
      <script src="https://gist.github.com/brandontate24368/f877d2673ac903be5596fe9e843604a4.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/pointers/" target="_blank">Link to the Pointers and Memory Allocation file</a>
      </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Memory and Functions</h3>
      <p style="color:white">This code shows memory and functions in C</p>
      <script src="https://gist.github.com/brandontate24368/d1618ffedda0db2418cc68606d985b19.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/memory/" target="_blank">Link to the Memory and Functions file</a>
    </div>
  </div>
</div>

</body>
</html>