<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body id="container-fluid" class="page">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CS50 Bootstrap Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="#">Unit 2</a></li>
      <li><a href="/unit3">Unit 3</a></li>
      <li><a href="/unit4">Unit 4</a></li>
      <li><a href="/pset">Problem Sets</a></li>
      <li><a href="/para">Parallax</a></li>
      <li><a href="/myself">Myself</a></li>
      <li><a href="https://www.google.ca/">Google</a></li>
      <li><a href="https://smcdsb.elearningontario.ca/d2l/le/lessons/18793458/units/147555099">Course Intro</a></li>
    </ul>
  </div>
</nav>
  
  <div class="jumbotron text-center">
    <h1>Unit 2</h1>
    </div>

  
  <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Functions</h3>
      <p style="color:white">This code shows certain functions in C</p>
      <script src="https://gist.github.com/brandontate24368/3193daed10ef21d47baf737eabb8b7db.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/functions/" target="_blank">Link to the Functions file</a>
      
      
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Arrays</h3>
      <p style="color:white">This code shows arrays in C</p>
      <script src="https://gist.github.com/brandontate24368/8f63a346f136620c7ea40ae6242281d6.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/arrays/" target="_blank">Link to the Arrays file</a>
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Strings</h3>        
      <p style="color:white">This code shows strings in C</p>
      <script src="https://gist.github.com/brandontate24368/4c7a4daccbcc1efe3128ca4e80369bc5.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/arrays/" target="_blank">Link to the String file</a>
    </div>
  </div>
</div>
  
    <div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Command Line Interaction</h3>
      <p style="color:white">This code shows command line interaction in C</p>
      <script src="https://gist.github.com/brandontate24368/ff26c9c9af0cac97ee1ed661c7ddd77c.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/commandline/" target="_blank">Link to the Command Line Interaction file</a>
      
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Exit Codes</h3>
      <p style="color:white">This code shows exit codes in C</p>
      <script src="https://gist.github.com/brandontate24368/2b7ee1ad61bccd82e0320ca270d98a7e.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/exitcodes/" target="_blank">Link to the Exit Codes file</a>
    </div>
    <div class="col-sm-4">
      <h3 style="color:white;font-family:Trebuchet MS">Type Casting</h3>        
      <p style="color:white">This code shows type casting in C</p>
      <script src="https://gist.github.com/brandontate24368/1afba76e8a5a5923947195f72eeb6dd6.js"></script>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/typecasting/" target="_blank">Link to the Type Casting file</a>
    </div>
  </div>
</div>

  <div class="container">
  <div class="row">
    <div class="col-sm-4; text-center">
      <h3 style="color:white;font-family:Trebuchet MS">Bugs and Debugging</h3>
      <p style="color:white">This code shows certain bugs and how to debug them in C</p>
      <div align="center">
      <script src="https://gist.github.com/brandontate24368/0c4a5049060b19068a97b3cf359c55e9.js"></script>
      </div>
      <a href="https://lab.cs50.io/jmichalenko/cs50labs/2020/debugging/" target="_blank">Link to the Bugs and Debugging file</a>
      </div>
  </div>
</div>
  
</body>
</html>
  